* {
    margin:0px;
    padding:0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout:none;
    outline: none;
    -webkit-user-select: none;
    box-sizing:border-box;-webkit-box-sizing:border-box;
}
body {
    font-family: Arial "Microsoft YaHei";
    background: white;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    width:100%;
    line-height: 1;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: '';content: none;}
table { border-collapse: collapse;border-spacing: 0;}
a:active{text-decoration: none; color: #555;}
a:hover{text-decoration: none; color: #555;}
a:link{text-decoration: none; color: #555;}
.clear{ clear: both; }

/*--App---*/
#app{
    width: 100%;
    height: 100%;
    /*background: #FFFFFF;*/
    padding: 1px 20px 0px 20px;
}


/*----内容---*/
.app-main{
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    overflow: hidden;
}


.ask-con{
    padding: 100px 0px;
    height: 100%;
    position: relative;
    /*min-height: 500px;*/
}
.ask-con p{
    font-size: 26px;
    color: #222;
    line-height: 50px;
}
.ask-btn{
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 200px;
}
.ask-btn .ask-btn-go{
    display: block;
    height: 80px;
    line-height: 60px;
    width: 100%;
    padding: 10px 20px;
    margin: 0px auto 30px auto;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    background: rgb(204, 204, 204);
    border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}


.ask-list{
    padding: 50px 0px;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 2.0em;
    text-align: center;
}
.ask-list-con{
    width: 100%;
    float: left;
}
.ask-list .ask-list-con .ask-rex{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0px;
    margin: 20px auto;
    text-align: center;
    font-size: 26px;
    color: rgb(243, 134, 134);
}
.ask-list .ask-list-con .ask-title{
    font-size: 32px;
    line-height: 40px;
    padding: 20px 20px 50px 20px;
}
.ask-list .ask-list-last .ask-title{
    background: rgba(240, 240, 240, 0.8);
    border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}
.ask-choice-list{
    padding: 0px;
    margin: 0px auto;
    list-style-type: none;
}
.ask-choice-list li{
    display: block;
    padding: 20px 0px;
}
.ask-choice-list li .select-i{
    font-style: normal;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    color: rgb(120, 120, 120);
    width: 51px;
    height: 51px;
    position: relative;
    margin-right: 30px;
    border: solid 1px rgb(136, 136, 136);
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.ask-choice-list li .select-i-on:after{
    content: "";
    width: 40px;
    height: 40px;
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 4px;
    left: 4px;
    background: rgb(100, 100, 100);
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.ask-choice-list li .ask-choice-content{
    width: 80%;
    display: inline-block;
    font-style: normal;
    font-size: 26px;
    background: rgba(233, 233, 233, 0.8);
    padding: 10px;
    line-height: 40px;
    vertical-align: middle;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.ask-loading-arw{
    min-height: 500px;
    background: url(../images/5-121204193R5-50.gif) no-repeat center center;
}



/*---分享相关---*/
.shareDialog-masker{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(20, 20, 20, 0.5);
}
.shareDialog-masker .shareItem-con{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0px 20px 0px 20px;
    height: auto;
    background: rgb(255, 255, 255);
}
.shareDialog-masker .shareItem-con .share-title,
.shareDialog-masker .shareItem-con .share-cancel-btn{
    clear: both;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    border-bottom: solid 1px rgb(118, 192, 163);
    margin: 0px -20px 0px -20px;
    color: rgb(45, 209, 170);
}
.shareDialog-masker .shareItem-con .share-cancel-btn{
    border-top: solid 1px rgb(118, 192, 163);
    border-bottom: none;
}
.shareDialog-masker .shareItem-con .shareItem{
    width: 33%;
    height: 200px;
    float: left;
    text-align: center;
    font-size: 23px;
    background: rgb(255, 255, 255);
}
.shareDialog-masker .shareItem-con .shareItem .shareItem-btn{
    width: 200px;
    height: 160px;
    float: left;
    text-align: center;
    background: rgb(255, 255, 255) url(../images/hangouts-flat.png) no-repeat center center;
    background-size: 60%;
}
.shareDialog-masker .shareItem-con .shareItem .shareItem-title{
    padding: 20px;
    font-size: 23px;
    color: #555;
}
.shareDialog-masker .shareItem-con .shareItem #share-weixin{
    background: rgb(255, 255, 255) url(../images/hangouts-flat.png) no-repeat center center;
    background-size: 60%;
}


/*---加载相关---*/
.loading-list{
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #AAA;
}
.loading-icon,
.loading-page{
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 500px;
}
.loading-icon{ top: 0px; }
.loading-icon .icon,
.loading-page .icon{
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    background: url(../images/5-121204193R5-50.gif) no-repeat center center;
}
.loading-icon .txt,
.loading-page .txt{
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    letter-spacing: 0px;
    color: #AAA;
}

/*---弹窗提示相关---*/
.tipDialogMasker{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.tipDialog-00{
    display: none;
    width: 80%;
    max-height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
    /*box-shadow: 0px 2px 3px 0px #A0A0A0;*/
    text-shadow: 1px 1px 1px #FFF;
    background: rgba(255, 255, 255, 0.96);
    padding: 20px 20px 0px 20px;
    text-align: center;
    border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.tipDialog-00 .close{ display:none; }
.tipDialog-00 .tipType{
    display: none; width:64px;height:64px;margin:0 auto;
    background-image: url("../images/icons/success.png");
    background-repeat: no-repeat;
    background-position: left top;
}
.tipDialog-00 .tipTitle{
    height: 40px;
    display: none;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
}
.tipDialog-00 .tipContent{
    color: #555;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 24px;
    padding: 10px 0px;
}
.tipDialog-00 .tipBtns{
    margin: 10px -20px 0px -20px;
    border-top: solid 1px #CCC;
    height: 60px;
    line-height: 60px;
    width: 100%;
}
.tipDialog-00 .tipBtns span{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    font-size: 26px;
    font-weight: 600;
    color: #1FABEC;
    width: 50%;
    float: left;
}
.tipDialog-00 .tipBtns span:hover{
    background: rgba(220,220,220,.6);
}
.tipDialog-00 .tipBtns span.btnOk{
    width: 50%;
    /*border-right:solid 1px #CCC;*/
}
.tipDialog-00 .tipBtns span.btnCancel{
    float: left;
}
.tipDialog-00 .tipBtns span.btmRRadius{
    border-bottom-right-radius: 18px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -o-border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
}
.tipDialog-00 .tipBtns span.btmLRadius{
    border-bottom-left-radius: 18px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -o-border-bottom-left-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
}
.tipDialog-00 .tipBtns span.btmRadius{
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -o-border-bottom-left-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
}


/*----日期选择组件----*/
.app-dateField-main{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 640px;
    height: 430px;
    border-top: solid 1px rgba(200, 200, 200, 0.8);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px -2px 3px 0px rgba(220, 220, 220, 0.6);
}
.app-dateField-top{
    height: 80px;
    border-bottom: solid 1px rgba(248, 248, 248, 0.5);
    background: rgba(252, 252, 252, 1);
}
.app-dateField-top span{
    display: inline-block;
    width: 120px;
    height: 80px;
    line-height: 80px;
    font-size: 28px;
    text-align: center;
    color: #333;
    background: rgba(252, 252, 252, 1);
    position: relative;
}
.app-dateField-top span:hover,
.app-dateField-top span:active{
    color: #111;
    background: rgba(240, 240, 240, 0.6);
}
.app-dateField-top .app-dateField-btnCancel{
    float: left;
    margin-left: 20px;
}
.app-dateField-top .app-dateField-btnOk{
    float: right;
    margin-right: 20px;
}
.app-dateField-top .app-dateField-btnCancel:after,
.app-dateField-top .app-dateField-btnOk:after{
    display: inline-block;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: 10px;
    left: 30px;
    content: "";
    background: rgba(240,240,240, .8);
}
.app-dateField-center{
    position: relative;
    height: 350px;
    overflow: hidden;
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) ,rgba(0,0,0,0));
    -moz-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) ,rgba(0,0,0,0));
    -ms-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) ,rgba(0,0,0,0));
    -o-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) ,rgba(0,0,0,0));
}
.app-dateField-center ul {
    padding:0px;
    margin:0px;
    /*float: left;*/
    position: absolute;
}
.app-dateField-center ul li{
    color: rgb(50, 50, 50);
    /*display: block;*/
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}
.app-dateField-center .app-center-current{
    /*position: absolute;
    top: 150px;
    left: 0px;*/
    margin-top: 150px;
    height: 50px;
    width: 100%;
    border: solid 1px rgba(200,200,200,0.8);
    border-width: 1px 0px;
}
.app-dateField-bottom {
    clear: both;
}



.date-input{
    display: block;
    width: 90%;
    height: 80px;
    line-height: 80px;
    margin: 0px auto;
    padding: 10px;
    font-size: 50px;
    color: rgb(0, 214, 255);
    text-align: center;
    border: solid 1px rgb(221, 221, 221);
    box-shadow: inset 2px 2px 3px 1px rgba(240, 240, 240, 0.7);
}
.date-btn{
    display: block;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 30px;
    background: rgb(105, 221, 221);
    color: rgb(255, 255, 255);
}
