<!DOCTYPE html>
<html>
<head lang="en">
    <title>SYST JS MINI Framework</title>
    <meta charset="UTF-8"/>
    <meta content="descriptions" charset="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <style>
        *{outline: none;}
        html,body{ margin:0; padding:0; width: 100%;height: 100%; overflow-x: hidden; overflow-y: scroll;}
        body{padding-top: 30px;}
    </style>

</head>
<body>

<div class="app member-app" id="app" scroll="no">


</div>

<script type="text/html" id="tpl">
    <% if(this.posts){
    for(var i = 0; i < this.posts.length; i++) {　
    var post = this.posts[i];
    %>
    <% if(!post.expert){ %>
    <span>post is null</span><br/>
    <% } else { %>
    <a href="#"><% post.expert %> at <% post.time %></a><br/>
    <% } %>
    <% }} %>
</script>

<!--载入js-->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../dist/SYST.js"></script>
<script>

    $(function(){

        var data = {
            "posts": [{
                "expert": "content 1",
                "time": "yesterday"
            },{
                "expert": "content 2",
                "time": "today"
            },{
                "expert": "content 3",
                "time": "tomorrow"
            },{
                "expert": "",
                "time": "eee"
            }]
        };

        var html = SYST.Render('tpl', data);
        console.log(html);
        document.querySelector('#app').innerHTML = html;

        SYST.View({
            init: function(){
                //console.log(this.template('#tpl', data));
            }
        });

    });

</script>

</body>
</html>