
<!DOCTYPE html>
<html>
<head>
    <title>查看历史消息</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="name" content="Rodey">
    <meta name="keyword" content="查看历史消息">
    <meta name="descriptions" content="查看历史消息">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=640,target-densitydpi=320,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/app.css">
</head>
<body>

    <div id="app">
        <!--消息列表-->
        <div class="his-list" id="list-main" style="display:none;">
            <ul class="his-list-scroll">
                <!--<li>
                    <span class="his-list-date">12月31日</span>
                    <div class="his-content">
                        <div class="his-c-toper">
                            <a href="" class="his-c-toper-imga">
                                <img src="images/maomaoguai_01.png" border="0" class="his-c-toper-img">
                            </a>
                            <a href="" class="his-c-toper-title">
                                【公众号推荐】"理财宝宝大比拼"，新理财资讯一网打尽
                            </a>
                        </div>
                        <div class="his-c-btmer">
                            <div class="his-c-list">
                                <a href="" class="his-c-btmer-imga">
                                    <img src="images/baby-boy-drinking.png" class="his-c-btmer-img">
                                </a>
                                <p class="his-c-btmer-title">平安银行私人银行创新结构设计，业内首推“双利丰盈”结构性</p>
                            </div>
                        </div>
                    </div>
                </li>-->
                <!--<li id="his-list-top">
                    &lt;!&ndash;初始化加载进度&ndash;&gt;
                    <div id="loading-list-top" class="loading-list" style="display:none;">下拉立即刷新</div>
                    <div id="loading-icon-top" class="loading-icon" style="display:none;">
                        <i class="icon"></i>
                        <span class="txt">正在刷新...</span>
                    </div>
                </li>-->
                <li id="his-list-bottom">
                    <!--初始化加载进度-->
                    <div id="loading-list-bottom" class="loading-list" style="display:none;">上拉显示下10条</div>
                    <div id="loading-icon-bottom" class="loading-icon" style="display:none;">
                        <i class="icon"></i>
                        <span class="txt">正在加载...</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="loading-page" id="load-page" style="display:block;">
            <i class="icon"></i>
            <span class="txt">页面加载中...</span>
        </div>
    </div>

    <!--模板 Start-->
    <script type="text/html" id="his-list-tpl">

        <%if(hisList){
            for(i = 0; i < hisList.length; i++){
        %>

            <%if(hisList[i].msgType == '0'){%>
                <!--文本消息-->
                <li>
                    <span class="his-list-date"><%= hisList[i].createTime %></span>
                    <div class="his-txt-content">
                        <div class="his-c-headport">
                            <a href="javascript:void(0);" class="his-c-headport-a">
                                <img src="<%= hisList.heardPort %>" border="0" width="40" class="his-c-headport-img">
                            </a>
                        </div>
                        <div class="his-c-text">
                            <%= hisList[i].mainTitle %>
                            <!--您好！我是您的信用卡私人管家“小安”，请主任先“验证身份”，我将为您提供安全、便捷、全方位的只能服务。
                            3/31-42，来自星星的都教授北京粉丝见面会免费VIP门票活动火爆进行中。快回复“都教授”来参与吧。-->
                        </div>
                    </div>
                    <div class="clear" style="clear:both;"></div>
                </li>
            <%}else if(hisList[i].msgType == '1'){%>
                <!--单图文消息-->
                <li>
                    <span class="his-list-date"><%= hisList[i].createTime %></span>
                    <div class="his-txt-content">
                        <div class="his-c-headport">
                            <a href="javascript:void(0);" class="his-c-headport-a">
                                <img src="<%= hisList.heardPort %>" border="0" width="40" class="his-c-headport-img">
                            </a>
                        </div>
                        <div class="his-c-text">
                            <a href="javascript:void(0);">
                                <img class="" src="<%= hisList[i].mainUrl %>" onerror="this.src='images/5-121204193R5-50.gif'"  border="0">
                            </a>
                        </div>
                    </div>
                    <div class="clear" style="clear:both;"></div>
                </li>
            <%}else if(hisList[i].msgType == '2'){%>
                <!--语音消息-->
                <li>
                    <span class="his-list-date"><%= hisList[i].createTime %></span>
                    <div class="his-txt-content">
                        <div class="his-c-headport">
                            <a href="javascript:void(0);" class="his-c-headport-a">
                                <img src="<%= hisList.heardPort %>" border="0" width="40" class="his-c-headport-img">
                            </a>
                        </div>
                        <div class="his-c-text">
                            音频
                        </div>
                    </div>
                    <div class="clear" style="clear:both;"></div>
                </li>
            <%}else if(hisList[i].msgType == '4'){%>
                <!--多图文消息-->
                <li>
                    <span class="his-list-date"><%= hisList[i].createTime %></span>
                    <div class="his-content">
                        <div class="his-c-toper">
                            <a href="" class="his-c-toper-imga">
                                <img src="<%= hisList[i].mainUrl %>" border="0" class="his-c-toper-img">
                            </a>
                            <a href="<%= hisList[i].mainLink %>" class="his-c-toper-title"><%= hisList[i].mainTitle %></a>
                        </div>
                        <%if(hisList[i].subItem){ var subItem = hisList[i].subItem; %>
                            <%if(subItem.length > 0){%>
                                <%if(subItem.length == 1){%>
                                    <div class="his-c-one-btmer">
                                        <a href="<%= subItem[0].body %>" class="his-c-btmer-one-a">
                                            阅读全文<i class="his-c-one-icon"></i>
                                        </a>
                                    </div>
                                <%}else{%>
                                    <div class="his-c-btmer">
                                        <%for(j = 0; j < subItem.length; j++){%>
                                        <div class="his-c-list <%if(j == subItem.length - 1){%>his-c-list-last<%}%>">
                                            document.writeIn(subItem[j]);
                                            <!--<a href="<%= subItem[j].body %>" class="his-c-btmer-imga">
                                                <img src="<%= subItem[j].materialkey %>" class="his-c-btmer-img">
                                            </a>
                                            <p class="his-c-btmer-title"><%= subItem[j].title %></p>-->
                                        </div>
                                        <%}%>
                                    </div>
                                <%}%>
                            <%}else{%>
                                <div class="his-c-one-btmer">
                                    <a href="<%= hisList[i].mainLink %>" class="his-c-btmer-one-a">
                                        阅读全文<i class="his-c-one-icon"></i>
                                    </a>
                                </div>
                            <%}%>
                        <%}%>
                    </div>
                </li>
            <%}else{%>

            <%}%>

        <%} }%>
    </script>
    <!--模板 End-->

<!--js引入-->
    <script type="text/javascript">
        //document.getElementById('app').style['height'] = document.documentElement.clientHeight + 'px';
    </script>
<script type="text/javascript"
        data-main="js/main.js"
        src="js/libs/require/require.js">
</script>
</body>
</html>