<img src="images/gas/gasPKShareImg.jpg" hidden="hidden" style="display: none;" />
<section class="section section1">

    <div class="itmoney " id="itmoney">
        <span id="itmoney-rank">0</span>
        <i><img src="" onerror="" id="itmoney-url"> </i>
        <div>
            <p id="itmoney-name"></p>
            <b><b id="itmoney-balance">0</b></b>
        </div>
    </div>
    <div class="charts_box">
        <b class="title">部门排行榜</b>
        <div class="charts-iscroll-other charts-loading" id="charts-iscroll-other" style="overflow: hidden;">
            <ul class="charts_ul">
                <!--<li class="first">
                    <span>1</span>

                    <i><img src="images/gas/light2.png"/></i>
                    <div>
                        <p>二代</p>
                        <b>1,000</b>
                    </div>
                </li>
                <li class="second">
                    <span>2</span>
                    <i><img src="images/gas/light1.png"/></i>
                    <div>
                        <p>老板</p>
                        <b>1,000</b>
                    </div>
                </li>
                <li class="third">
                    <span>3</span>
                    <i><img src="images/gas/station_img.png"/></i>
                    <div>
                        <p>老板</p>
                        <b>1,000</b>
                    </div>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="charts_box">
        <b class="title">您的排名</b>
        <div class="charts-iscroll-me charts-loading " id="charts-iscroll-me" style="overflow: hidden;">
            <ul class="charts_ul1 clear">
                <!--<li class="current">
                    <dl class="charts_dl ">
                        <dt><img src="images/gas/light1.png"/></dt>
                        <dd>小三</dd>
                        <dd>20</dd>
                    </dl>
                </li>-->

            </ul>
        </div>
        <p class="border_p" >
        </p>
    </div>

    <span class="ps_tl"></span>
    <span class="ps_tr"></span>
    <span class="ps_bl"></span>
    <span class="ps_br"></span>
</section>
<article class="btn_box">
    <a href="gasIndex.html" id="meITB">我的IT币</a>
    <a href="javascript:void(0)" data-type="TXTtMoments" id="sharePK">我要晒排名</a>
</article>

<!-- =======模板 START-->
<!--我IT币-->
<script type="text/html" id="itmoney-tpl">
    <%if(it.currentList){
    var currentList = it.currentList;
    %>
    <span ><%= currentList.wealth %></span>
    <i><img src="<%= currentList.url %>" > </i>
    <div>
        <p><%= currentList.name %></p>
        <b><b><span ><%= currentList.balance %></span></b></b>
    </div>
    <%}%>
</script>

<!--部门排行版 模板-->
<script type="text/html" id="charts-other-tpl">
    <%if(it.topList){
    var topList = it.topList;
    for(i = 0; i < topList.length; i++){
    %>
    <li class="charts-other-<%= topList[i].rank %>">
        <span><%= topList[i].rank %></span>
        <i><img src="<%= topList[i].url %>"/></i>
        <div>
            <p><%= topList[i].name %></p>
            <b><%= topList[i].wealth %></b>
        </div>
    </li>
    <%} }%>
</script>
<!--您的排名 模板-->
<script type="text/html" id="charts-me-tpl">
    <!--前五名-->
    <%if(it.frontList){
    var frontList = it.frontList;
    for(i = 0; i < frontList.length; i++){
    %>
    <li>
        <dl class="charts_dl ">
            <dt><img src="<%= frontList[i].url %>"/></dt>
            <dd><%= frontList[i].name %></dd>
            <dd><%= frontList[i].wealth %></dd>
        </dl>
    </li>
    <%} }%>

    <!--我的排名-->
    <%if(it.currentList){
    var currentList = it.currentList;
    %>
    <li class="current">
        <dl class="charts_dl ">
            <dt><img src="<%= currentList.url %>"/></dt>
            <dd><%= currentList.name %></dd>
            <dd><%= currentList.wealth %></dd>
        </dl>
    </li>
    <%}%>

    <!--后五名-->
    <%if(it.backList){
    var backList = it.backList;
    for(i = 0; i < backList.length;i++){
    %>
    <li>
        <dl class="charts_dl ">
            <dt><img src="<%= backList[i].url %>"/></dt>
            <dd><%= backList[i].name %></dd>
            <dd><%= backList[i].wealth %></dd>
        </dl>
    </li>
    <%} }%>

</script>
<!--========模板 END-->