<!DOCTYPE html>
<html>
<head lang="en">
    <title>SYST JS MINI Framework</title>
    <meta charset="UTF-8"/>
    <meta content="descriptions" charset="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <style>
        *{outline: none;}
        html,body{ margin:0; padding:0; width: 100%;height: 100%; overflow-x: hidden; overflow-y: scroll;}
        body{padding-top: 30px;}
        .app{ padding: 10px 20px; width: 100%; margin: 0 auto; }
    </style>

</head>
<body>

    <div class="app member-app" id="app" scroll="no">


    </div>
    <div class="app">
        <em>渲染100万条数据</em>
        <button id="test-btn">性能测试</button>
        <p id="test-rs"></p>
    </div>

<script type="text/syst" id="tpl">

    <%= title %>

    <% if(posts){
        for(var i = 0; i < posts.length; ++i) {　
            var post = posts[i];
    %>
        <% if(SYST.V.isEmpty(post.expert)){ %>
            <span>expert is null</span><br/>
        <% }else{ %>
            <% console.log(SYST.T.escapeHtml(post.expert)); %>
            <% console.log(filter(post.expert)); %>
            <span><%== post.expert %> at <%= SYST.T.setDateFormat(post.time) %></span><br/>
        <% } %>
    <% }} %>

    <p>
        <%= SYST.V.isFunction(say) && say('hello world!!!') %>
    </p>

    <ul>
        <li><%= name %></li>
        <li><%= version %></li>
        <li><%= author %></li>
        <li><%= toMailLink(email) %></li>
    </ul>

</script>
<script type="text/html" id="test">
    <%
        for(var i = 0, len = list.length; i < list.length; ++i) {　
            var item = list[i];
    %>
    <li>my name is <%= item.name %>, age is <%= item.age %></li>
    <% }%>
</script>

<!--载入js-->
<!--<script src="../../bower_components/jquery/dist/jquery.min.js"></script>-->
<script src="../../dist/SYST.js"></script>
<script>

    SYST.$(function(){

        var $ = SYST.$;

        function filter(str){
            return str.replace(/\d+/gi, '');
        }

        function toMailLink(email){
            return '<a href="mailto:'+ email +'">'+ email +'</a>';
        }

        var data = {
            title: '<h1>模板渲染实例</h1>',
            "posts": [{
                "expert": "<<content 1>>",
                "time": 1448603587595
            },{
                "expert": "content 2",
                "time": 1448603587595
            },{
                "expert": "content 3",
                "time": 1448603587595
            },{
                "expert": null,
                "time": 1448603587595
            }],

            say: function(message){
                return this.author + ' say ' + message + '!';
            },

            name: 'SYST JS FROMWORK',
            version: '2.0.4',
            author: 'Rodey',
            email: 'rodeyluo@gmail.com'
        };

        var html = SYST.Render('tpl', data, {filter: filter, toMailLink: toMailLink} );
        $('#app').html(html);

        //性能测试
        var testBtn = $('#test-btn'), isTesting = false;
        testBtn.click(function(){
            if(isTesting) return;
            isTesting = true;
            testBtn.html('测试中......');
            var list = [];
            for(var i = 0; i < 1000000; ++i){
                list.push({ name: 'test', age: i+1 });
            }

            var start = Date.now();
            SYST.T.render('test', { list: list });

            var time = (Date.now() - start) / 1000;
            $('#test-rs').html('总花费 ' + time + ' 秒');
            testBtn.html('性能测试');
            isTesting = false;
        });

    });

</script>

</body>
</html>